@media #{$xs} {
  .left-panel,
  .left-panel-short {
    display: none;
  }
  .navbar {
    width: 100%;
    padding: 0;
  }

  body:not(.ishome) {
    .logo-wrapper {
      background: transparent;
    }
  }


  .ishome {
    .navbar {
      position: relative;
    }
  }

  .logo-wrapper {
    width: 100%;
    justify-content: center;
  }

  .header {
    .caption {
      h1 {
        font-size: 35px;
        letter-spacing: 10px;
      }
    }
  }

  header.header {
    height: 70vh;
    min-height: auto;
    position: relative;

    .image-layer {
      height: 70vh;
    }
    .swiper-pagination {
      bottom: 10px;
      left: 0;
      transform: translate(0, 50%);
      right: 0;
      span {
        margin: 0 5px;
      }
    }
  }
}
